@import '@chatscope/chat-ui-kit-styles/dist/default/styles.min.css';

.scrollbar-container {
  background-color: #F3F7F9 !important;
  max-height: 65vh !important;
  overscroll-behavior: contain;
}

.cs-message-input {
  max-width: 100% !important;
  width: 100% !important;
}

.cs-input-toolbox {
  background-color: #F3F7F9 !important;
}

.cs-message-list {
  height: 70vh;
  background-color: #F3F7F9 !important;
}

.cs-message-input {
  background-color: #F3F7F9 !important;
  position: sticky !important;
  padding: 1rem !important;
  bottom: 0; 
  z-index: 10; 
}

.cs-message {
  min-height: 2.5rem !important;
}

.cs-message__content {
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.cs-message--incoming .cs-message__content {
  color: #1B263B !important;
  background-color: #C0ECFA !important;
}

.cs-message--outgoing .cs-message__content {
  color: #F3F7F9 !important;
  background-color: #0061A6 !important;
}