@import '@chatscope/chat-ui-kit-styles/dist/default/styles.min.css';

.scrollbar-container {
  background-color: #F3F7F9 !important;
  max-height: 65vh !important;
  overscroll-behavior: contain;
}

.cs-message-input {
  max-width: 100% !important;
  width: 100% !important;
}

.cs-input-toolbox {
  background-color: #F3F7F9 !important;
}

.cs-message-list {
  height: 70vh;
  background-color: #F3F7F9 !important;
  padding-bottom: 2rem;
}

.cs-message-input {
  background-color: #F3F7F9 !important;
  position: sticky !important;
  padding: 1rem !important;
  bottom: 0; 
  z-index: 10; 
}

.cs-message {
  min-height: 2.5rem !important;
}

.cs-message__content {
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.cs-message--incoming .cs-message__content {
  color: #1B263B !important;
  background-color: #C0ECFA !important;
}

.cs-message--outgoing .cs-message__content {
  color: #F3F7F9 !important;
  background-color: #0061A6 !important;
}

#root {
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
