@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        scrollbar-color: #1f2642 #010D1A;
        scrollbar-width: none;
    }
  }

::-webkit-scrollbar {
    scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
    background-color: #34C9D1; 
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background-color: #F3F7F9; 
}

/* For Firefox */
textarea {
    scrollbar-width: thin; 
    scrollbar-color: #34C9D1 #F3F7F9; 
}

div {
    scrollbar-width: thin; 
    scrollbar-color: #34C9D1 #F3F7F9; 
}